.nav-bar{
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nb-menu{
  --menu-text-font-size : 17px;
  --menu-item-padding: 10px 20px;
}
