<nb-card>
  <nb-card-header>Edit Email</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="inputer">
      <input
        type="email"
        name="Email"
        formControlName="email"
        placeholder="Email"
        nbInput
        (blur)="onBlur('email')"
      />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small class="errorhint" *ngIf="form.get('email')?.errors?.['required']">
          * Email is Required
        </small>
        <small class="errorhint" *ngIf="form.get('email')?.errors?.['email']">
          * Please Enter The Correct Email
        </small>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button type="submit" nbButton (click)="close()">Submit</button>
  </nb-card-footer>
</nb-card>
