<nb-card size="large">
  <nb-card-header>
    <h3>دفع الفاتورة</h3>
    <nb-icon (click)="dialogRef.close()" style="cursor: pointer;" [icon]="'close-outline'"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <h2>التكلفة : <span>19.99$</span></h2>
    <br />
    <nb-form-field>
      <label for="name">* إسم المستخدم</label>
      <input
        id="name"
        type="text"
        shape="rectangle"
        [fieldSize]="'large'"
        fullWidth
        nbInput
      />
    </nb-form-field>
    <br />
    <nb-form-field>
      <label for="phone">* رقم الهاتف</label>

      <input type="tel" name="phone"  [fieldSize]="'large'" nbInput fullWidth>
    </nb-form-field>
    <!-- radio -->
     <div class="rem">
      <p>Remember Me</p>
      <nb-checkbox fullWidth></nb-checkbox>
     </div>

  </nb-card-body>
  <nb-card-footer>
    <button (click)="dialogRef.close()" nbButton>Pay now</button>
  </nb-card-footer>
</nb-card>
