@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
}

*{
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

.errorhint{
  color: red;
}

